@{
    ViewBag.Title = "profile";
}

<h2 style="color:forestgreen">Table Users Information</h2>

<form method="post">
    <label>Id</label>
    <input type="text" name="Id" style="" class="form-control" placeholder="Id..." /><br />
    <label>Name</label>
    <input type="text" name="Name" style="" class="form-control" placeholder="Name of the person....." /><br />
    <label>Email</label>
    <input type="text" name="Email" style="" class="form-control" placeholder="Email address of the person....." /><br />
    <label>Password</label>
    <input type="text" name="password" style="" class="form-control" placeholder="password of mail....." /><br />
    <label>Role</label>
    <input type="text" name="Role" style="" class="form-control" placeholder="role of the person....." /><br />
    <label>Address</label>
    <input type="text" name="Address" style="" class="form-control" placeholder="Address of the person....." /><br />
    <label>Birthdate</label>
    <input type="date" name="Birthdate" style="" class="form-control" placeholder=" Birthdate of the person....." /><br />
    <input type="submit" style="width: auto; font-weight: 600;color:blueviolet" value="post" /><br />
</form>
